html,
body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  height: 100%;
  background-image: url("img/mario.gif"), url("img/ground.png"), url("img/bushes.png"), url("img/back.png");
  background-color: #f8e0b0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 22px, left 0 bottom 0, left 0 bottom 22px, left 0 bottom 0;
  animation: back 15s infinite linear; }

@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left 0 bottom 0, left 0 bottom 22px, left 0 bottom 0; }
  50% {
    background-position: left 50% bottom 22px, left -816px bottom 0px, left -508px bottom 22px, left -256px bottom 0px; }
  100% {
    background-position: left 30% bottom 22px, left -1632px bottom 0px, left -1016px bottom 22px, left -512px bottom 0px; } }
